<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register</title>
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    <link href="asserts/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="/register" method="post">
    <h1 class="title">欢迎来到金融供应链平台</h1>
    <div class="box">
        <label class="sr-only">Company Name</label>
        <input name="username" type="text" class="form-control" placeholder="Company Name" required="" autofocus="">
        <label class="sr-only">Company Type</label>
        <input name="accType" type="text" class="form-control" placeholder="Company Type" required="" autofocus="">
        <label class="sr-only">Balance</label>
        <input name="balance" type="text" class="form-control" placeholder="Balance" required="" autofocus="">
        <label class="sr-only">Password</label>
        <input name="password" type="password" class="form-control" placeholder="Password" required="">
        <a class="btn btn-lg btn-primary btn-block" href="/login">登录</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button></div>
</form>

</body>

</html>